@font-face {
    font-family: morganite-bold;
    src: url(../font/morganite/Morganite-Bold.otf);
}

@font-face {
    font-family: morganite-book;
    src: url(../font/morganite/Morganite-Book.otf);
}

@font-face {
    font-family: morganite-extrabold;
    src: url(../font/morganite/Morganite-ExtraBold.otf);
}

@font-face {
    font-family: morganite-light;
    src: url(../font/morganite/Morganite-Light.otf);
}

@font-face {
    font-family: morganite-thin;
    src: url(../font/morganite/Morganite-Thin.otf);
}

@font-face {
    font-family: morganite-semibold;
    src: url(../font/morganite/Morganite-SemiBoldItalic.otf);
}

@font-face {
    font-family: fontspring-light;
    src: url(../font/fontspring/fontspring-light.otf);
}

@font-face {
    font-family: fontspring-regular;
    src: url(../font/fontspring/fontspring-regular.otf);
}

@font-face {
    font-family: heading26;
    src: url(/font/HeadingNowTrial-26Bold.ttf);
}

@font-face {
    font-family: heading36;
    src: url(/font/HeadingNowTrial-36Bold.ttf);
}

@font-face {
    font-family: kiona;
    src: url(/font/Kiona-Regular.ttf);
}

@font-face {
    font-family: elephant;
    src: url(/fonts/Elephant-PersonalUse.ttf);
}

@font-face {
    font-family: heading26;
    src: url(/fonts/HeadingNowTrial-26Bold.ttf);
}

@font-face {
    font-family: heading36;
    src: url(/fonts/HeadingNowTrial-36Bold.ttf);
}

@font-face {
    font-family: humane-bold;
    src: url(/fonts/Humane-Bold.woff2);
}

@font-face {
    font-family: humane-semibold;
    src: url(/fonts/Humane-SemiBold.woff2);
}

@font-face {
    font-family: kiona;
    src: url(/fonts/Kiona-Regular.ttf);
}

@font-face {
    font-family: monument;
    src: url(/fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
    font-family: satoshi-bold;
    src: url(../../public/font/Satoshi-Bold.woff2);
}

@font-face {
    font-family: satoshi;
    src: url(../../public/font/Satoshi-Black.woff2);
}

@font-face {
    font-family: satoshi-medium;
    src: url(/fonts/Satoshi-Medium.woff2);
}
