/* Breakpoints
    1535px
    770px
    570px */

@font-face {
    font-family: monument;
    src: url(../font/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: monument-ultrabold;
    src: url(../font/MonumentExtended-Ultrabold.otf);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: var(--primary);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    /* color: #ece6d5; */
    color: var(--primary);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    /* background-color: #050c0f; */
    background-color: var(--secondary);
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --ff-heading: heading36;
    --ff-text: kiona;
    --ff-bold: humane-bold;
    --ff-heading2: satoshi-bold;

    --fs-text: 1.2rem;
    --mfs-text: 0.7rem;

    --primary: #131313;
    --secondary: #ebe9e4;
    --accent: #e0b082;
    --accent2: #70d6c9;
    --tertiary: rgb(128, 128, 128);

    --btn-padding: 1rem 2rem 1rem 2rem;
    --mbtn-padding: 0.5rem 1rem 0.5rem 1rem;

    /* Colors */

    --clr-primary: #284083;
    --clr-secondary: #99f1ed;

    --ff-primary: heading36;
    --ff-secondary: kiona;
    --ff-tertiary: fontspring-regular;
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 1rem;
    --fs-500: 1rem;
    --fs-600: 2.5rem;
    --fs-700: 3rem;
    --fs-800: 7rem;
    --fs-900: 12rem;
    --fs-1000: 14vw;
}

/* Utility Classes */
.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}

.fs-1000 {
    font-size: var(--fs-1000);
}

/* Landing Page Section */

.cursor {
    display: block;
    position: fixed;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* background:linear-gradient(to right, var(--clr-primary), var(--clr-secondary)); */
    background-color: #fff083;
    z-index: 100;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.1s ease-in;
}

.scaled {
    transform: scale(14);
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    top: 0;
    opacity: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

nav > ul {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.nav-text {
    font-family: var(--ff-secondary);
    letter-spacing: 4px;
    font-weight: bold;
}

.nav-line {
    height: 1px;
    background-color: rgb(128, 128, 128);
    width: 25%;
}

h1 {
    line-height: 1;
    /* word-spacing: -0.1em; */
    z-index: 1;
    /* color: #ece6d5; */
    font-family: var(--ff-primary);
}

footer {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

footer > p {
    color: rgb(128, 128, 128);
    background: none;
    margin-bottom: 1.5rem;
    font-family: var(--ff-primary);
    letter-spacing: 0.1rem;
}

.landingpage {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.2fr 0.8fr;
}

.landingpage-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    opacity: 0;
}

.landingpage-name-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.landingpage-name-container > span {
    font-size: 1rem;
    font-family: var(--ff-text);
    font-weight: bold;
}

.landingpage > h1 {
    text-align: center;
    align-self: end;
    opacity: 0;
    /* word-spacing: 1rem */
}

.line-container {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
    justify-self: center;
    align-items: center;
}

.gradient {
    background-image: linear-gradient(
        to right,
        var(--clr-primary),
        var(--clr-secondary)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.line {
    height: 3px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(128, 128, 128);
    /* background-color: #ECE6D5; */
    opacity: 0;
}

/* Transition card css */

.transition {
    margin-top: 25vh;
    display: grid;
    place-items: center;
    height: auto;
    width: 100%;
}

.transition-no-margin {
    margin-top: 0;
}

.transition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transition-container > h3 {
    font-family: var(--ff-primary);
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, #f5d4b4, var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6vw;
}

.transition-line {
    height: 15rem;
    width: 1px;
    /* background-color: #131313; */
    background: linear-gradient(0deg, var(--accent), var(--secondary) 80%)
        no-repeat;
}

.transition-circle {
    display: grid;
    place-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    /* background-color: #131313; */
    background: linear-gradient(90deg, #ffe4ca, var(--accent) 80%);
}

.transition-circle > h3 {
    color: var(--secondary);
    font-family: var(--ff-secondary);
    font-weight: bold;
    font-size: 4rem;
}

/* Introduction */
.introduction {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-align: center;
}

.introduction > h1 {
    font-size: 6vw;
}

/* About me Section */

.aboutme {
    width: 100%;
    height: 300vh;
    display: grid;
}

.aboutme-content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutme-content > h1 {
    opacity: 1;
}

.techstack-text {
    position: absolute;
    justify-self: center;
}

.techstack-text > span {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.techstack-text > span > h1 {
    opacity: 0;
    font-size: 6vw;
}

/* Project Section */

/* Contact Section */
.contact {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.05fr 0.05fr;
    place-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    opacity: 0;
    margin-top: 5vh;
}

.contact-info > p {
    color: rgb(168, 167, 167);
    font-family: var(--ff-secondary);
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.button {
    height: 3rem;
    width: 10rem;
    background: none;
    border: solid 1px var(--primary);
    display: grid;
    place-items: center;
    border-radius: 15px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.button > p {
    background: none;
    font-family: var(--ff-secondary);
    font-weight: bold;
}

.totop {
    position: relative;
    height: 4rem;
    width: 6rem;
    border-radius: 15px;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: solid 1px var(--primary);
}

.totop:hover {
    background-color: rgba(128, 128, 128, 0.295);
}

.totop > p {
    background: none;
    font-family: var(--ff-secondary);
    font-weight: bold;
}

.up {
    width: 1rem;
    background: none;
}

.contact-icon {
    width: 2rem;
    margin-bottom: 1.5rem;
}

footer > p {
    font-family: var(--ff-secondary);
    font-weight: bold;
}

@media (max-width: 1534px) {
    /* .fs-1000 {
        font-size: var(--fs-900);
    } */
    .fs-900 {
        font-size: 9rem;
    }

    .fs-800 {
        font-size: 7rem;
    }

    .line-container {
        width: 550px;
    }

    nav {
        width: 550px;
    }

    nav > ul {
        width: 60%;
        justify-content: center;
    }

    .nav-text {
        font-size: 0.8rem;
    }

    .nav-line {
        width: 15%;
    }

    .tech-container {
        width: 550px;
        gap: 2rem;
    }

    .tech {
        width: 3.5rem;
    }

    .express {
        height: 3rem;
    }
}

@media (max-width: 800px) {
    .fs-1000 {
        font-size: 16vw;
    }

    .fs-900 {
        font-size: 8rem;
        text-align: center;
    }

    .fs-800 {
        font-size: 5rem;
    }

    nav {
        width: 300px;
    }

    nav > ul {
        width: 100%;
        gap: 0.8rem;
        justify-content: center;
    }

    .nav-line {
        display: none;
        opacity: 0;
    }

    .landingpage-name-container {
        width: 60%;
    }

    .landingpage-name-container > span {
        font-size: 2vw;
    }

    .line-container {
        width: 250px;
    }

    .introduction > h1 {
        font-size: 9vw;
    }

    .transition-no-margin {
        margin-top: 0;
    }

    .transition-container > h3 {
        font-size: 3rem;
    }

    .transition-line {
        height: 7rem;
    }

    .transition-circle {
        height: 4rem;
        width: 4rem;
    }

    .transition-circle > h3 {
        font-size: 1rem;
    }

    .techstack-text > span > h1 {
        font-size: 9vw;
    }

    .techstack-text > span {
        gap: 0.5rem;
    }

    .regular-text {
        font-size: 0.8rem;
    }

    .button {
        height: 3rem;
        width: 7rem;
    }

    .totop {
        width: 4rem;
        height: 3rem;
    }
}

@media (max-width: 570px) {
    .fs-900 {
        font-size: 6rem;
    }

    .fs-800 {
        font-size: 3rem;
    }

    .line-container {
        width: 200px;
    }

    .nav-text {
        font-size: 3vw;
    }

    .tech-container {
        width: 300px;
        gap: 2rem;
    }

    .tech {
        width: 3rem;
    }

    .express {
        height: 3rem;
    }

    .techstack-text > span {
        gap: 0.25rem;
    }
}
